<div class="login-container">
  <div class="login-tabs">
    <mat-tab-group mat-stretch-tabs>
      <mat-tab label="Login">
        <div class="tab-block">
          <h2>Login with user details</h2>
          <div class="login-form">
            <form [formGroup]="loginForm" (ngSubmit)="sendLoginForm()" novalidate>
              <mat-form-field>
                <input matInput placeholder="Email" formControlName="email" type="email">
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Password" formControlName="password" type="password">
              </mat-form-field>
              <button mat-raised-button
                      color="primary"
                      class="reset-login-button"
                      (click)="resetLoginForm()">Reset Fields</button>
              <button mat-raised-button
                      color="primary"
                      type="submit"
                      class="send-login-button">Login</button>
            </form>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Registration">
        <div class="tab-block">
          <h2>Create new account</h2>

        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
